<div class="container">
    <h1 class="display-4 mt-5 mb-0">Authentification</h1>
    <hr class="mt-0 mb-5 bg-dark">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
        <form [formGroup]= "adminSignInForm"  (ngSubmit)="onAuth()">
          <div class="form-group">
            <label for="email">Adresse email</label>
            <input type="text" id="email" formControlName="email" placeholder="Ex: admin@gmail.fr" class="form-control">
            <ng-container *ngIf="adminSignInForm.get('email').touched">
              <span class="text-danger" *ngIf="adminSignInForm.get('email').errors?.required">Email obligatoire</span>
              <span class="text-danger" *ngIf="adminSignInForm.get('email').errors?.email">Veuillez insérer une adresse email valide.</span>
            </ng-container>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password" class="form-control">
            <ng-container *ngIf="adminSignInForm.get('password').touched">
              <span class="text-danger" *ngIf="adminSignInForm.get('password').errors?.required">Mot de passe obligatoire</span>
              <span class="text-danger mot" *ngIf="adminSignInForm.get('password').errors?.pattern">Veuillez insérer un mot de passe valide(minimum 7 caractéres).</span>
            </ng-container>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="adminSignInForm.invalid">Connexion</button>
          <span *ngIf="errMsg" class="text-danger ml-5" id="msgErreurco">E-mail ou mot de passe incorrect</span> 
        </form>
       
      </div>
    
    </div>
    </div>
